body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
}

#options-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#range-number {
    align-self: center;
}